# Python bytecode files
__pycache__/
*.py[cod]

# Django migrations
*/migrations/__pycache__/


# Database
db.sqlite3
*.sqlite3

# Django secret key file
.secret_key.txt

# Virtual environment
venv/
env/
*.env

# Python environment files
*.pyo
*.pyd
.Python

# IDE configurations
.vscode/
.idea/

# Static files and media directories (if you are using them)
media/

# PyCharm
.idea/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Coverage reports
.coverage
coverage.xml
*.cover

# Pytest
.pytest_cache/

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Zip files
*.zip

 
 
ecommercetemplate/